<br>
<br>
<br>

<h2>{% t epilogue_website_title %}</h2>

<p><a href="https://twidere.com">https://twidere.com</a></p>

<h2>{% t epilogue_product_title %}</h2>

<p><a href="https://twidere.com">Twidere X</a></p>

<h2>{% t epilogue_social_title %}</h2>

<p><strong>Github</strong> <a href="https://github.com/TwidereProject">https://github.com/TwidereProject</a></p>
<p><strong>Twitter</strong> <a href="https://twitter.com/TwidereProject">https://twitter.com/TwidereProject</a></p>
<p><strong>Telegram</strong> <a href="https://t.me/twidere_x">https://t.me/twidere_x</a></p>